.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  height: 400px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 52px;
  font-weight: bold;
}

.banner p {
  color: white;

}

.banner-box {
  background-color: rgba(26, 1, 6, 0.3);
  height: 100px;
  width: 400px;
  vertical-align: middle;
}