.navbar-lewagon {
  justify-content: space-between;
}


element.style {
}
.bg-light {
    background-color: rgb(163, 29, 51) !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
